pipeline/CopyAdventureWorksToRaw.json
{
	"name": "CopyAdventureWorksToRaw",
	"properties": {
		"activities": [
			{
				"name": "LookupTableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GenericAzureSQLDB",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dummy",
							"table": "dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IterateOverTables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTableList').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyTableToADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "GenericAzureSQLDB",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"table": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "GenericRaw",
									"type": "DatasetReference",
									"parameters": {
										"Folder": {
											"value": "@concat('cycling/north-america/',item().TABLE_SCHEMA, '/',item().TABLE_NAME)",
											"type": "Expression"
										},
										"File": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}